.container-main{
  font-family: "Inter", sans-serif;
  display: flex;
}

.container-content{
  margin-top: 80px;
  flex-direction: column;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.content-title{
  padding: 50px 80px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.text{
  width: 600px;
  gap: 20px;
  width: 200px;
}

.text h2{
  font-size: 25px;
  font-weight: bold;
}

.text p {
  width: 240px;
  color: rgba(117, 117, 117, 0.705)
}

.container-content .botao{
  font-weight: bold;
  cursor: pointer;
  padding: 12px;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid rgba(73, 73, 73, 0.596);
  border-radius: 5px;
  display: flex;
}

.container-content .botao button{
  cursor: pointer;
}

.titles-chart button {
    font-size: 13px;
    cursor: pointer;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 6px;
    display: flex;
}

.container-chart{
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  width: 90%;
  height: 480px;
  background-color: rgba(46, 44, 43, 0.226);
  border: 1px solid rgba(83, 75, 60, 0.212);
}

.container-content .botao:hover{
  
}
.titles-chart h2{
  margin-top: 15px;
  color: #FAFAFA;
  font-weight: bold;
  font-family: "Inter"; 
  font-size: 20px;
}

.titles-chart{
  margin: 0px 30px;
  display: flex;
  justify-content: space-between;
}

.options-chart {
  font-family: "Inter"; 
  font-weight: 600;
  margin-top: 15px;
  display: flex;
  gap: 30px;
}

.options-chart p{
  font-size: 16px;
}

.titles-chart button:hover{
  background-color: rgba(255, 255, 255, 0.082);
}